<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La liste des factures</title>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/print.css' %}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</head>

<body id="page-top">


    <div class="card-header py-3" style="padding-left: 150px;padding-right: 150px;">
        <span class="m-0 font-weight-bold text-primary">Détails de la facture N°{{ proforma.numero_proforma }} : </span><button onclick="imprimerSections()" class="btn">🖨️ imprimer</button><button onclick="imprimerSections()" class="btn"><i class="fas fa-download fa-sm text-white-50"></i>télécharger</button> <a href="{% url 'liste_facture' user.username %}" class="btn">retour</a>
    </div>
                            
    <section class="proforma" id="proforma">
        <div class="date">Abidjan, le</div>
        <div class="num_pro">PROFORMA  N°{{ proforma.numero_proforma }}<span class="annee"></span></div>
        <div class="nom_client">
            <table class="client_table">
                <tr>
                    <td>DOIT:</td>
                </tr>
                <tr>
                    <td colspan="3" class="nm_clt">{{ proforma.client }}</td>
                </tr>
            </table>
        </div>
        <div class="div_objet">
            <span class="objet">Objet:</span>
            {{ proforma.objet }}
        </div>
        <div class="tableau_pro">
            <table class="table_impression">
                <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>QUANTITE</th>
                        <th>PRIX UNITAIRE (FCFA)</th>
                        <th>MONTANT (FCFA)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for details in details_proforma %}
                        <tr>
                            <td class="separateur">{{ details.nom_produit }}</td>
                            <td class="separateur">{{ details.qte_produit }}</td>
                            <td class="separateur">{{ details.prix_produit }}</td>
                            <td class="separateur">{{ details.montant_proforma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <h5>MONTANT HT</h5>
                        </td>
                        <td class="separateur">{{ proforma.montant_ht }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><h5>TVA (18%)</h5></td>
                        <td class="separateur">{{ proforma.montant_tva }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><h5>MONTANT NET A PAYER</h5></td>
                        <td class="separateur">{{ proforma.montant_ttc }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="montant_arret">
            <p>
                Arrêtée la presente facture proforma à la somme de: <br> 
                <h1 class="lettre">
                    {{ proforma.montant_ttc }} FRANCS CFA
                </h1>
            </p>
            <p>
                <span class="gerant">LE GERANT</span>
            </p>
        </div>
    </section>

    <section class="facture_definitive" id="facture_definitive">
        <div class="date">Abidjan, le</div>
        <div class="num_pro"></div>
        <div class="nom_client">
            <table class="client_table">
                <tr>
                    <td>DOIT</td>
                </tr>
                <tr rowspan="3" class="nom">
                    <td>{{ proforma.client }}</td>
                </tr>
            </table>
        </div>
        <div class="div_objet">
            <span class="objet">Objet:</span>
            {{ proforma.objet }}
        </div>
        <div class="tableau_pro">
            <table class="table_impression">
                <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>QUANTITE</th>
                        <th>PRIX UNITAIRE (FCFA)</th>
                        <th>MONTANT (FCFA)</th>
                    </tr>
                </thead>
                <tbody class="tablebody">
                    {% for details in details_proforma %}
                        <tr>
                            <td>{{ details.nom_produit }}</td>
                            <td class="separateur">{{ details.qte_produit }}</td>
                            <td class="separateur">{{ details.prix_produit }}</td>
                            <td class="separateur">{{ details.montant_proforma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="tablefoot">
                    <tr>
                        <td colspan="3">
                            <h5>MONTANT HT</h5>
                        </td>
                        <td class="separateur">{{ proforma.montant_ht }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h5>TVA (18%)</h5>
                        </td>
                        <td class="separateur">{{ proforma.montant_tva }}</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h5>MONTANT NET A PAYER</h5>
                        </td>
                        <td class="separateur">{{ proforma.montant_ttc }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="montant_arret">
            <p>
                Arrêtée la presente facture definitive à la somme de:
                <h1 class="lettres">
                    {{ proforma.montant_ttc }} FRANCS CFA
                </h1>
            </p>
            <p>
                <span class="gerant">LE GERANT</span>
            </p>
        </div>
        
    </section>

    <section class="bon_livraison" id="bon_livraison">
        
        <div class="date">Abidjan, le </div>
        <div class="num_pro">BON DE LIVRAISON  N°{{ bon_livraison.numero_bl }}<span class="annee1"></span></div>
        <div class="nom_client">
            <table class="client_table">
                <tr>
                    <td>DOIT</td>
                </tr>
                <tr rowspan="3">
                    <td>{{ bon_livraison.client }}</td>
                </tr>
            </table>
        </div>
        <div class="div_objet">
            <span class="objet">Objet:</span>
            {{ bl.objet }}
        </div>
        <div class="tableau_pro">
            <table class="table_impression">
                <thead>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>QUANTITE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for details in details_proforma %}
                        <tr>
                            <td>{{ details.nom_produit }}</td>
                            <td class="separateur">{{ details.qte_produit }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <h5>TOTAL</h5>
                        </td>
                        <td class="separateur">{{ bon_livraison.total_qte }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="exe_clt">
            <p>
                <span class="executant">L'executant</span> <br> 
                (Nom, signature et date)
            </p>
            <p>
                <span class="clt">LE CLIENT</span><br>
                (Nom, signature et date)
            </p>
        </div>
    </section>

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    
    


    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'js/js_facture/imprim_details.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>

</html>